<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head.html') %>
    <link rel="stylesheet" href="/css/index.css">

</head>
<body>

    <button><a href="/aritmetica">Arimética</a></button>
    <button><a href="/algebra">Álgebra</a></button>
    <button><a href="/geometria">Geometría</a></button>
    <button><a href="/matematica">Matemática</a></button>

    
</body>
</html>